@import "tailwindcss";

html, body {
  font-family: var(--font-space-grotesk), sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* optional, recommended */
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0c10;
}
::-webkit-scrollbar-thumb {
  background: #1d2633;
  border-radius: 10px;
}

@keyframes shimmer {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
